doctype html
html
    head
        meta(charset="utf-8")
        title Insert title here
    body
        h1 노드 게시판
        form(action="update.do", method="post")
            input(type="hidden", name="no", value=board.no)
            table(style="border: 1px solid black")
                tr
                    th 제목 
                    td
                        input(type="text", name="title", value=board.title)

                tr
                    th 글쓴이
                    td #{board.writer}

                tr
                    th 내용
                    td
                        textarea(name="content", cols="60", rows="10") #{board.content}

                tr
                    td(colspan="2")
                        button 수정
                        a(href="detail.do?no="+board.no) 취소