<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>lec05_mvc</display-name>

  <!--  FrontController  역활 서블릿 클래스 정보 등록 -->
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.mvc.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>controllers</param-name>
  		<param-value>
		/board/list.do=kr.co.mlec.board.ListBoardController;
		/board/detail.do=kr.co.mlec.board.DetailBoardController;
		/board/delete.do=kr.co.mlec.board.DeleteBoardController;
		/board/modify.do=kr.co.mlec.board.ModifyBoardController;
		/board/modifyform.do=kr.co.mlec.board.ModifyFormBoardController;
		/board/write.do=kr.co.mlec.board.WriteBoardController;
		/board/writeform.do=kr.co.mlec.board.WriteFormBoardController;
		/main/main.do=kr.co.mlec.main.MainController;
		/login/loginform.do=kr.co.mlec.login.LoginFormController;
		/login/logout.do=kr.co.mlec.login.LogoutController;
		/login/login.do=kr.co.mlec.login.LoginProcessController 		
  		</param-value>
  	</init-param>
  </servlet>	
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
	<url-pattern>*.do</url-pattern>  	
  </servlet-mapping>
  
  <!-- 
  <filter>
  	<filter-name>auth</filter-name>
  	<filter-class>kr.co.mlec.filter.AuthFilter</filter-class>
  	<init-param>
  		<param-name>pages</param-name>
  		<param-value>
  			/;
  			/login/loginform;
  			/board/list;
  			/login/loginprocess;
  			/main/main
  		</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>auth</filter-name>
	<url-pattern>*</url-pattern>  	
  </filter-mapping>
   -->	
  
  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>kr.co.mlec.filter.EncodingFilter</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>encoding</filter-name>
	<url-pattern>*</url-pattern>  	
  </filter-mapping>  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>