doctype html
html
    head
        title NODE
        meta(charset="utf-8")
    body
        //-html 전송되지 않는다
        //html 컨텐트 주석문 입니다
        h1 PUG 연습중
        hr
        a(href="http://www.naver.com", id="aid", name="alink", target="blank") PUG 사이트 이동
        p.
            이것은 PUG 연습입니다
            그리고 또 연습