doctype html
html
    head
        title Pug Test
        meta(charset="utf-8")
        link(rel="stylesheet", href="/test.css")
        script(src="/test.js")
    body
        h1 PUG
        hr
        a(href="http://pugjs.org") pug 사이트 이동
        #test1
            p 아이디 설정된 div가 생성되었습니다
        .test2
            p 클래스 설정된 class가 생성되었습니다